<header class="header-frontpage frontpage">
    <p class="header-frontpage__welcome">Добро пожаловать в Учебно-Тренировочный центр подготовки пилотов русскоязычного
        дивизиона VATRUS!</p>
    <a class="btn-frontpage btn-frontpage-primary" href="#how-to-start">Как начать обучение?</a>
</header>
<main class="frontpage">
    <div class="wrapper-frontpage about">
        <h2 class="h2-frontpage">Об учебном центре</h2>
        <div class="divider-frontpage"></div>
        <p class="text-frontpage text-about">Наш учебный центр занимается подготовкой и выпуском виртуальных пилотов с
            присвоением рейтингов обучения, варьирующихся от первоначальных навыков полетов в сети при получении рейтинга "P1", до рейтинга виртуального пилота, подтверждающего знания и умения к выполнению полетов по ППП (ATPL) на многодвигательных воздушных судах - "P4".</p>
        <img class="about__image" src="{{{imglogoopaque}}}" alt="">
    </div>
    <div class="wrapper-frontpage">
        <h2 class="h2-frontpage">Об учебных курсах</h2>
        <div class="divider-frontpage"></div>
        <div class="courses-container-frontpage">
            <section class="course-frontpage">
                <h3 class="h3-frontpage">Р1 - Private pilot licence (PPL)</h3>
                <div class="course-frontpage__grid">
                    <p class="text-frontpage">P1 - это основополагающий рейтинг, требующий от пилота базовых знаний по
                        программе
                        обучения PPL (пилота частной авиации), и включающий, углубленную теоретическую часть по принципам эксплуатации одномоторных легких воздушных судов. При изучении данного цикла курса, пилот получит базовые знания о принципах аэродинамики и динамике полета воздушного судна, основ навигации и системах навигационного обеспечения. Выполнит ряд практических занятий по управлению воздушным судном при различных условиях полета. Результатом присвоения данного рейтинга является  демонстрация студентом навыка управления выбранным типом ВС и его систем в нормальной полетной конфигурации без использования систем автоматического управления.</p>
                    <img src="{{{imglp1cover}}}" alt="Cessna 172">
                </div>
            </section>
            <section class="course-frontpage">
                <h3 class="h3-frontpage">Р2 - Instrument rating (IR)</h3>
                <div class="course-frontpage__grid">
                    <p class="text-frontpage">P2 - Программа подготовки на рейтинг, требующий от пилота базовых знаний рейтингов Basic Vatsim Member и P1, и включающий углубленную теоретическую часть по принципам эксплуатации легких воздушных судов, при условиях выполнения полетов по правилам ППП. При изучении данного цикла курса, пилот получит основные знания о принципах правил полетов по приборам, использования навигационных систем, систем навигационного обеспечения. Выполнит ряд практических занятий по управлению воздушным судном при различных условиях полета. Результатом присвоения настоящего рейтинга является демонстрация студентом навыка управления выбранным типом ВС и его систем в нормальной полетной конфигурации, как в ручном, так и в автоматическом режиме полета.</p>
                    <img src="{{{imglp2cover}}}" alt="Glass cockpit">
                </div>
            </section>
            <section class="course-frontpage">
                <h3 class="h3-frontpage">Р3 - Commercial multi-engine pilot licence (CMEL)</h3>
                <div class="course-frontpage__grid">
                    <p class="text-frontpage">P3 - Программа подготовки пилотов на рейтинг включает базовые принципы предыдущих рейтингов с углубленным изучением теоретического материала и практической подготовки на допуск выполнения полетов в качестве пилота коммерческой авиации. Основное направление программы ориентировано на лекционные занятия и выполнение практических полетов по правилам ППП на многодвигательных летательных аппаратах под руководством пилотов-инструкторов. Получение рейтинга P3 осуществляется путем сдачи практического экзаменационного полета на выбранном типе ВС, согласно программе подготовки летного состава.</p>
                    <img src="{{{imglp3cover}}}" alt="Baron B55">
                </div>
            </section>
            <section class="course-frontpage">
                <h3 class="h3-frontpage">Р4 - Airline transport pilot licence</h3>
                <div class="course-frontpage__grid">
                    <p class="text-frontpage">P4 - Программа завершающего этапа подготовки пилотов. Программа подготовки
                        пилотов на рейтинг P4 включает базовые принципы предыдущих рейтингов с углубленным изучением теоретического материала и практической подготовки на допуск выполнения полетов в качестве пилота линейной авиации. Основное направление программы ориентировано на лекционные занятия и выполнение практических полетов по правилам ППП на многодвигательных сухопутных воздушных судах под руководством пилотов-инструкторов. Получение рейтинга P4 осуществляется путем сдачи практического экзаменационного полета на выбранном типе ВС, согласно программе подготовки летного состава.</p>
                    <img src="{{{imglp4cover}}}" alt="Boeing 737 MAX">
                </div>
            </section>
        </div>
    </div>
    <div class="wrapper-frontpage">
        <h2 class="h2-frontpage" id="how-to-start">Что нужно для начала обучения</h2>
        <div class="divider-frontpage"></div>
        <ul class="requirements-list">
            <li class="requirements-list__item">
                <div class="requirements-list__item-marker">1</div>
                <span>Раз</span>
            </li>
            <li class="requirements-list__item">
                <div class="requirements-list__item-marker">2</div>
                <span>Два</span>
            </li>
            <li class="requirements-list__item">
                <div class="requirements-list__item-marker">3</div>
                <span>Три</span>
            </li>
        </ul>
        <p class="text-frontpage text-requirements">Если Вы отвечаете данным требованиям, то можете
            <a href="http://62.122.176.21/mod/feedback/view.php?id=105">оставить заявку на обучение</a>. После её заполнения напишите в канал training-pilots
            <a href="https://discord.vatrus.info/">дискорда VATRUS</a> о том, что Вы готовы пройти первоначальное собеседование.</p>
    </div>
    <section class="discord-banner">
        <div class="wrapper-frontpage">
            <div class="discord-banner-inner">
                <p>Присоединяйтесь к нашему серверу в Discord</p>
                <a href="https://discord.vatrus.info/">Discord (#training-pilots)</a>
            </div>
        </div>
    </section>
    <div class="wrapper-frontpage">
        <h2 class="h2-frontpage">Наша статистика</h2>
        <div class="divider-frontpage"></div>
    </div>
    <div class="wrapper-frontpage stat__wrapper">
        <div class="stat__container">
            <article class="stat__item">
                <svg class="stat__icon" width="101" height="50" viewBox="0 0 101 50" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_40_159)">
                        <path d="M4.9668 9C4.9668 6.23858 7.20537 4 9.9668 4H96.9668V43H9.9668C7.20537 43 4.9668 40.7614 4.9668 38V9Z" fill="black" shape-rendering="crispEdges"/>
                        <rect width="10" height="41" transform="translate(79.3791 2.96045)" fill="#FFD600"/>
                        <rect x="77.6187" y="2.96045" width="1.79755" height="41" fill="#CD800D"/>
                    </g>
                    <defs>
                        <filter id="filter0_d_40_159" x="0.966797" y="0.960449" width="100" height="49" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="2"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_40_159"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_40_159" result="shape"/>
                        </filter>
                    </defs>
                </svg>
                <header>
                    <p class="stat__rating">P1</p>
                    <p class="stat__rating-caption">Private pilot licence</p>
                </header>
                <div>
                    <p class="stat__record">Обучаются: <span class="stat__record-number">181</span></p>
                    <p class="stat__record">Выпустились: <span class="stat__record-number">12</span></p>
                </div>
            </article>
            <article class="stat__item">
                <svg class="stat__icon" width="99" height="47" viewBox="0 0 99 47" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_40_149)">
                        <path d="M3.9668 7C3.9668 4.23858 6.20537 2 8.9668 2H95.9668V41H8.9668C6.20537 41 3.9668 38.7614 3.9668 36V7Z" fill="black" shape-rendering="crispEdges"/>
                        <rect width="10" height="41" transform="translate(78.3791 1)" fill="#FFD600"/>
                        <rect x="76.6187" y="1" width="1.79755" height="41" fill="#CD800D"/>
                        <rect width="10" height="41" transform="translate(61.4099 1)" fill="#FFD600"/>
                        <rect x="59.6494" y="1" width="1.79755" height="41" fill="#CD800D"/>
                    </g>
                    <defs>
                        <filter id="filter0_d_40_149" x="0.966797" y="0" width="98" height="47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="2"/>
                            <feGaussianBlur stdDeviation="1.5"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_40_149"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_40_149" result="shape"/>
                        </filter>
                    </defs>
                </svg>
                <header>
                    <p class="stat__rating">P2</p>
                    <p class="stat__rating-caption">Instrument rating</p>
                </header>
                <div>
                    <p class="stat__record">Обучаются: <span class="stat__record-number">25</span></p>
                    <p class="stat__record">Выпустились: <span class="stat__record-number">5</span></p>
                </div>
            </article>
            <article class="stat__item">
                <svg class="stat__icon" width="99" height="48" viewBox="0 0 99 48" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_40_192)">
                        <path d="M3.9668 7.70312C3.9668 4.9417 6.20537 2.70312 8.9668 2.70312H95.9668V41.7031H8.9668C6.20537 41.7031 3.9668 39.4645 3.9668 36.7031V7.70312Z" fill="black" shape-rendering="crispEdges"/>
                        <rect width="10" height="41" transform="translate(44.4404 1.70312)" fill="#FFD600"/>
                        <rect x="42.6799" y="1.70312" width="1.79755" height="41" fill="#CD800D"/>
                        <rect width="10" height="41" transform="translate(61.4099 1.70312)" fill="#FFD600"/>
                        <rect x="59.6494" y="1.70312" width="1.79755" height="41" fill="#CD800D"/>
                        <rect width="10" height="41" transform="translate(78.3791 1.70312)" fill="#FFD600"/>
                        <rect x="76.6187" y="1.70312" width="1.79755" height="41" fill="#CD800D"/>
                    </g>
                    <defs>
                        <filter id="filter0_d_40_192" x="0.966797" y="0.703125" width="98" height="47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="2"/>
                            <feGaussianBlur stdDeviation="1.5"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_40_192"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_40_192" result="shape"/>
                        </filter>
                    </defs>
                </svg>
                <header>
                    <p class="stat__rating">P3</p>
                    <p class="stat__rating-caption">Commercial multi-engine pilot licence</p>
                </header>
                <div>
                    <p class="stat__record">Обучаются: <span class="stat__record-number">0</span></p>
                    <p class="stat__record">Выпустились: <span class="stat__record-number">0</span></p>
                </div>
            </article>
            <article class="stat__item">
                <svg class="stat__icon" width="99" height="47" viewBox="0 0 99 47" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_40_177)">
                        <path d="M3.9668 7C3.9668 4.23858 6.20537 2 8.9668 2H95.9668V41H8.9668C6.20537 41 3.9668 38.7614 3.9668 36V7Z" fill="black" shape-rendering="crispEdges"/>
                        <rect width="10" height="41" transform="translate(44.4404 1)" fill="#FFD600"/>
                        <rect x="42.6799" y="1" width="1.79755" height="41" fill="#CD800D"/>
                        <rect width="10" height="41" transform="translate(61.4099 1)" fill="#FFD600"/>
                        <rect x="59.6494" y="1" width="1.79755" height="41" fill="#CD800D"/>
                        <rect width="10" height="41" transform="translate(27.4711 1)" fill="#FFD600"/>
                        <rect x="25.7107" y="1" width="1.79755" height="41" fill="#CD800D"/>
                        <rect width="10" height="41" transform="translate(78.3791 1)" fill="#FFD600"/>
                        <rect x="76.6187" y="1" width="1.79755" height="41" fill="#CD800D"/>
                    </g>
                    <defs>
                        <filter id="filter0_d_40_177" x="0.966797" y="0" width="98" height="47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="2"/>
                            <feGaussianBlur stdDeviation="1.5"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_40_177"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_40_177" result="shape"/>
                        </filter>
                    </defs>
                </svg>
                <header>
                    <p class="stat__rating">P4</p>
                    <p class="stat__rating-caption">Airline transport pilot licence</p>
                </header>
                <div>
                    <p class="stat__record">Обучаются: <span class="stat__record-number">0</span></p>
                    <p class="stat__record">Выпустились: <span class="stat__record-number">0</span></p>
                </div>
            </article>
        </div>
    </div>
    <div class="wrapper-frontpage">
        <h2 class="h2-frontpage">Документы</h2>
        <div class="divider-frontpage"></div>
        <div class="docs__container">
            <div class="docs__section">
                <h3 class="docs__heading">Политика обработки данных </h3>
                <p><a class="docs__item" href="#">Политика обработки персональных данных</a></p>
                <p><a class="docs__item" href="#">Политика в отношении защиты и обработки данных данных</a></p>
            </div>

            <div class="docs__section">
                <h3 class="docs__heading">Руководящие документы</h3>
                <p><a class="docs__item" href="#">Политика обработки персональных данных</a></p>
                <p><a class="docs__item" href="#">Политика в отношении защиты и обработки данных данных</a></p>
                <p><a class="docs__item" href="#">Политика обработки персональных данных</a></p>
                <p><a class="docs__item" href="#">Политика в отношении защиты и обработки данных данных</a></p>
            </div>

            <div class="docs__section">
                <h3 class="docs__heading">Документы для курсов</h3>
                <p><a class="docs__item" href="#">Политика обработки персональных данных</a></p>
                <p><a class="docs__item" href="#">Политика в отношении защиты и обработки данных данных</a></p>
            </div>
        </div>
    </div>
    <div class="wrapper-frontpage cta">
        <p>Рейтинг ближе, чем кажется!</p>
        <a class="btn-frontpage btn-frontpage-primary" href="#">Заполнить заявку</a>
    </div>
</main>
<footer class="footer-frontpage frontpage">
    <div class="wrapper-frontpage footer-frontpage__container">
        <div class="footer-frontpage__icon-container">
            <a href="https://discord.vatrus.info/" class="footer-frontpage__icon"><img src="{{{imgdiscordiconfooter}}}" alt="Discord link"></a>
            <a href="https://vk.com/vatrus" class="footer-frontpage__icon"><img src="{{{imgvkiconfooter}}}" alt="VK link"></a>
        </div>
        <a href="http://62.122.176.21/mod/feedback/view.php?id=105" class="footer__icon footer-frontpage__icon_central">
            <img src="{{{imgvatruslogofooter}}}" alt="Vatrus division link">
        </a>
        <p>Copyright ©2023 PTD Vatrus.<br>All rights reserved.</p>
    </div>
</footer>
